@use '../../utils/' as u;

.grid-list {
  display: grid;
  gap: 4rem;

  @include u.breakpoints(medium) {
    grid-template-columns: 1fr 1fr;
  }

  :is(.service, .events) & {
    @include u.breakpoints(large) {
      grid-template-columns: repeat(3, 1fr);
    }

    & li:last-child {
      @include u.breakpoints(medium) {
        grid-column: 1/3;
        width: calc(50% - 20px);
        margin-inline: auto;
      }

      @include u.breakpoints(large) {
        grid-column: auto;
        width: 100%;
      }
    }
  }
}
