html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--eerie-black-1);
  color: var(--white);
  font-family: var(--fontFamily-main);
  font-size: var(--fontSize-body-4);
  font-weight: var(--weight-regular);
  line-height: var(--lineHeight-5);
  overflow: hidden; /* loader */

  &.loaded {
    overflow: auto; /* fallback*/
    overflow: overlay;
  }

  &.active {
    overflow: hidden;
  }
}

::-webkit-scrollbar {
  width: 5px;

  &-track {
    background-color: transparent;
  }

  &-thumb {
    background-color: var(--c-dark-red);
  }
}
