<section
  class="section chef-intro text-center has-bg-img"
  style="background-image: url('./images/testimonial-bg.jpg')"
  aria-label="chef-intro"
>
  <div class="container">
    <div class="chef-intro__decoration-quote">”</div>

    <p class="chef-intro__text">
      Cooking is more than just preparing food—it’s about creating an
      experience. At Ravinion, we believe that every dish tells a story, crafted
      with passion, fresh ingredients, and a touch of creativity. Our mission is
      to bring you flavors that feel like home yet surprise you with every bite.
      Whether you’re here for a quick meal or a special celebration, we welcome
      you to savor every moment. Bon appétit!
    </p>

    <div class="chef-intro__separators-wrapper">
      <div class="separator"></div>
      <div class="separator"></div>
      <div class="separator"></div>
    </div>

    <div class="chef-intro__profile">
      <img
        src="./images/testi-avatar.jpg"
        alt="Sam Smith"
        class="chef-intro__profile-img"
        width="100"
        height="100"
        loading="lazy"
      />

      <p class="chef-intro__profile-name headline-2">Sam Smith</p>
    </div>
  </div>
</section>
