<section class="events bg-black-10" aria-label="event">
  <div class="events__container container">
    <p class="section__subtitle label-2 text-center">Recent Updates</p>

    <h2 class="headline-1 events__title section__title text-center">
      Upcoming Events
    </h2>

    <ul class="grid-list">
      <li class="events__card">
        <div class="hover-shine">
          <div
            class="card__banner img-holder"
            style="--width: 350; --height: 450"
          >
            <img
              src="./images/event-1.jpg"
              alt="Event 1"
              class="img-cover"
              width="350"
              height="450"
              loading="lazy"
            />

            <time datetime="2024-09-15" class="events__date label-2"
              >15/09/2024</time
            >
          </div>

          <div class="events__content">
            <p class="events__subtitle title-2 text-center">Food, Flavour</p>
            <h3 class="events__text body-4 text-center">
              Flavour so good you’ll try to eat with your eyes.
            </h3>
          </div>
        </div>
      </li>
      <li class="events__card">
        <div class="hover-shine">
          <div
            class="card__banner img-holder"
            style="--width: 350; --height: 450"
          >
            <img
              src="./images/event-1.jpg"
              alt="Event 1"
              class="img-cover"
              width="350"
              height="450"
              loading="lazy"
            />

            <time datetime="2024-09-15" class="events__date label-2"
              >15/09/2024</time
            >
          </div>

          <div class="events__content">
            <p class="events__subtitle title-2 text-center">Food, Flavour</p>
            <h3 class="events__text body-4 text-center">
              Flavour so good you’ll try to eat with your eyes.
            </h3>
          </div>
        </div>
      </li>
      <li class="events__card">
        <div class="hover-shine">
          <div
            class="card__banner img-holder"
            style="--width: 350; --height: 450"
          >
            <img
              src="./images/event-1.jpg"
              alt="Event 1"
              class="img-cover"
              width="350"
              height="450"
              loading="lazy"
            />

            <time datetime="2024-09-15" class="events__date label-2"
              >15/09/2024</time
            >
          </div>

          <div class="events__content">
            <p class="events__subtitle title-2 text-center">Food, Flavour</p>
            <h3 class="events__text body-4 text-center">
              Flavour so good you’ll try to eat with your eyes.
            </h3>
          </div>
        </div>
      </li>
    </ul>

    <a href="#" class="btn btn--dark events__btn">
      <span class="btn__forward">Read more</span>
      <span class="btn__behind" aria-hidden="true">Read more</span>
    </a>
  </div>
</section>
