<section class="section features text-center" aria-label="features">
  <div class="container">
    <p class="section__subtitle label-2">Why Choose Us</p>

    <h2 class="headline-1 features__title section__title">Our Strength</h2>

    <ul class="features__list grid-list">
      <li class="features__item">
        <div class="features__card">
          <div class="features__icon">
            <img
              src="./images/features-icon-1.png"
              alt="icon"
              loading="lazy"
              width="100"
              height="80"
            />
          </div>

          <h3 class="title-4 features__card-title">Fresh & Local</h3>
          <p class="body-4 features__text">
            We take pride in using the freshest, locally sourced vegetables and
            ingredients to bring you dishes full of flavor and nutrition. Every
            bite is a taste of quality.
          </p>
        </div>
      </li>
      <li class="features__item">
        <div class="features__card">
          <div class="features__icon">
            <img
              src="./images/features-icon-2.png"
              alt="icon"
              loading="lazy"
              width="100"
              height="80"
            />
          </div>

          <h3 class="title-4 features__card-title">Elegant Dining</h3>
          <p class="body-4 features__text">
            Enjoy a warm, welcoming ambiance perfect for family dinners,
            romantic evenings, and special occasions. Our beautifully set tables
            make every meal an experience to remember.
          </p>
        </div>
      </li>
      <li class="features__item">
        <div class="features__card">
          <div class="features__icon">
            <img
              src="./images/features-icon-3.png"
              alt="icon"
              loading="lazy"
              width="100"
              height="80"
            />
          </div>

          <h3 class="title-4 features__card-title">Chef’s Expertise</h3>
          <p class="body-4 features__text">
            Our talented chef brings years of experience and creativity to every
            dish, blending classic recipes with modern innovation to create
            unforgettable flavors.
          </p>
        </div>
      </li>
      <li class="features__item">
        <div class="features__card">
          <div class="features__icon">
            <img
              src="./images/features-icon-4.png"
              alt="icon"
              loading="lazy"
              width="100"
              height="80"
            />
          </div>

          <h3 class="title-4 features__card-title">Celebrate With Us</h3>
          <p class="body-4 features__text">
            From intimate gatherings to grand celebrations, our restaurant is
            the perfect place to host birthdays, anniversaries, and corporate
            events with exceptional food and service.
          </p>
        </div>
      </li>
    </ul>

    <img src="./images/shape-7.png" alt="shape" class="features__shape
    features__shape--up shape move-anim" width="208" height="178 loading="lazy"
    />
    <img
      src="./images/shape-8.png"
      alt="shape"
      class="features__shape features__shape--bottom shape move-anim"
      width="120"
      height="115"
      loading="lazy"
    />
  </div>
</section>
