<section class="hero text-center" aria-label="home" id="home">
  <!-- slider -->
  <ul class="hero__slider slider" data-hero-slider>
    <!-- slider item -->
    <li class="hero__item slider__item active" data-hero-slider-item>
      <div class="slider__bg">
        <img
          srcset="
            ./images/hero-01-425.jpg   425w,
            ./images/hero-01-768.jpg   768w,
            ./images/hero-01-992.jpg   992w,
            ./images/hero-01-1200.jpg 1200w,
            ./images/hero-01-1536.jpg 1536w,
            ./images/hero-01-1984.jpg 1984w,
            ./images/hero-01-2400.jpg 2400w,
            ./images/hero-01.jpg      2560w
          "
          sizes="100vw"
          src="./images/hero-01.jpg"
          alt=""
          width="1880"
          height="950"
          class="img-cover"
        />
      </div>
      <p class="hero__subtitle section__subtitle slider-reveal">
        <strong>Ravinion</strong> Cafe & Restaurant
      </p>
      <h2 class="hero__title display-1 slider-reveal">Savor Every Moment</h2>

      <p class="hero__text body-2 slider-reveal">
        From intimate dinners to special celebrations, our restaurant is the
        perfect place to enjoy great food and unforgettable memories
      </p>

      <a href="#menu" class="hero__btn btn slider-reveal">
        <span class="btn__forward">View Our Menu</span>
        <span class="btn__behind" aria-hidden="true">View Our Menu</span>
      </a>
    </li>
    <!-- slider item -->
    <li class="hero__item slider__item" data-hero-slider-item>
      <div class="slider__bg">
        <img
          srcset="
            ./images/hero-02-425.jpg   425w,
            ./images/hero-02-768.jpg   768w,
            ./images/hero-02-992.jpg   992w,
            ./images/hero-02-1200.jpg 1200w,
            ./images/hero-02-1536.jpg 1536w,
            ./images/hero-02-1984.jpg 1984w,
            ./images/hero-02-2400.jpg 2400w,
            ./images/hero-02.jpg      2560w
          "
          sizes="100vw"
          src="./images/hero-02.jpg"
          alt=""
          width="1880"
          height="950"
          class="img-cover"
        />
      </div>
      <p class="hero__subtitle section__subtitle slider-reveal">
        <strong>Ravinion</strong> Cafe & Restaurant
      </p>
      <h2 class="hero__title display-1 slider-reveal">
        A welcoming space for everyone
      </h2>

      <p class="hero__text body-2 slider-reveal">
        Our friendly staff is dedicated to providing you with a dining
        experience that feels like home. Come for the food, stay for the warmth
      </p>
    </li>
    <!-- slider item -->
    <li class="hero__item slider__item" data-hero-slider-item>
      <div class="slider__bg">
        <img
          srcset="
            ./images/hero-03-425.jpg   425w,
            ./images/hero-03-768.jpg   768w,
            ./images/hero-03-992.jpg   992w,
            ./images/hero-03-1200.jpg 1200w,
            ./images/hero-03-1536.jpg 1536w,
            ./images/hero-03-1984.jpg 1984w,
            ./images/hero-03-2400.jpg 2400w,
            ./images/hero-03.jpg      2560w
          "
          sizes="100vw"
          src="./images/hero-03.jpg"
          alt=""
          width="1880"
          height="950"
          class="img-cover"
        />
      </div>
      <p class="hero__subtitle section__subtitle slider-reveal">
        <strong>Ravinion</strong> Cafe & Restaurant
      </p>
      <h2 class="hero__title display-1 slider-reveal">A Culinary Experience</h2>

      <p class="hero__text body-2 slider-reveal">
        Discover our menu filled with mouth-watering dishes, made from the
        finest ingredients. Every bite is a celebration of taste
      </p>

      <a href="#menu" class="hero__btn btn slider-reveal">
        <span class="btn__forward">View Our Menu</span>
        <span class="btn__behind" aria-hidden="true">View Our Menu</span>
      </a>
    </li>
  </ul>

  <!-- slider btns -->
  <button
    class="slider__btn slider__btn--prev"
    aria-label="slide to previous"
    data-prev-btn
  >
    <svg width="24" height="24">
      <use
        xlink:href="./images/sprite.svg#chevron-back-outline"
        href="./images/sprite.svg#chevron-back-outline"
      ></use>
    </svg>
  </button>
  <button
    class="slider__btn slider__btn--next"
    aria-label="slide to next"
    data-next-btn
  >
    <svg width="24" height="24">
      <use
        xlink:href="./images/sprite.svg#chevron-forward-outline"
        href="./images/sprite.svg#chevron-forward-outline"
      ></use>
    </svg>
  </button>

  <!-- book a table -->
  <a href="#booking" class="hero__book">
    <img
      src="./images/hero-icon.png"
      width="48"
      height="48"
      alt="booking icon"
    />

    <span class="text-center span">Book A Table</span>
  </a>
</section>
