<section class="hero text-center" aria-label="home" id="home">
  <!-- slider -->
  <ul class="hero__slider slider" data-hero-slider>
    <!-- slider item -->
    <li class="hero__item slider__item active" data-hero-slider-item>
      <div class="slider__bg">
        <img
          src="./images/hero-01.jpg"
          width="1880"
          heoght="950"
          alt=""
          class="img-cover"
        />
      </div>
      <p class="hero__subtitle section__subtitle slider-reveal">
        <strong>Ravinion</strong> Cafe & Restaurant
      </p>
      <h2 class="hero__title display-1 slider-reveal">Welcome To</h2>

      <p class="hero__text body-2 slider-reveal">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
        repellat unde tenetur! Quos, expedita molestiae?
      </p>

      <a href="#" class="hero__btn btn slider-reveal">
        <span class="btn__forward">View Our Menu</span>
        <span class="btn__behind" aria-hidden="true">View Our Menu</span>
      </a>
    </li>
    <!-- slider item -->
    <li class="hero__item slider__item" data-hero-slider-item>
      <div class="slider__bg">
        <img
          src="./images/hero-02.jpg"
          width="1880"
          heoght="950"
          alt=""
          class="img-cover"
        />
      </div>
      <p class="hero__subtitle section__subtitle slider-reveal">
        <strong>Ravinion</strong> Cafe & Restaurant
      </p>
      <h2 class="hero__title display-1 slider-reveal">Welcome To</h2>

      <p class="hero__text body-2 slider-reveal"></p>

      <a href="#" class="hero__btn btn btn--transparent slider-reveal">
        <span class="btn__forward">View Our Menu</span>
        <span class="btn__behind" aria-hidden="true">View Our Menu</span>
      </a>
    </li>
    <!-- slider item -->
    <li class="hero__item slider__item" data-hero-slider-item>
      <div class="slider__bg">
        <img
          src="./images/hero-03.jpg"
          width="1880"
          heoght="950"
          alt=""
          class="img-cover"
        />
      </div>
      <p class="hero__subtitle section__subtitle slider-reveal">
        <strong>Ravinion</strong> Cafe & Restaurant
      </p>
      <h2 class="hero__title display-1 slider-reveal">Welcome To</h2>

      <p class="hero__text body-2 slider-reveal">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
        repellat unde tenetur! Quos, expedita molestiae?
      </p>

      <a href="#" class="hero__btn btn slider-reveal">
        <span class="btn__forward">View Our Menu</span>
        <span class="btn__behind" aria-hidden="true">View Our Menu</span>
      </a>
    </li>
  </ul>

  <!-- slider btns -->
  <button
    class="slider__btn slider__btn--prev"
    aria-label="slide to previous"
    data-prev-btn
  >
    <svg width="24" height="24">
      <use
        xlink:href="./images/sprite.svg#chevron-back-outline"
        href="./images/sprite.svg#chevron-back-outline"
      ></use>
    </svg>
  </button>
  <button
    class="slider__btn slider__btn--next"
    aria-label="slide to next"
    data-next-btn
  >
    <svg width="24" height="24">
      <use
        xlink:href="./images/sprite.svg#chevron-forward-outline"
        href="./images/sprite.svg#chevron-forward-outline"
      ></use>
    </svg>
  </button>

  <!-- book a table -->
  <a href="#" class="hero__book">
    <img
      src="./images/hero-icon.png"
      width="48"
      height="48"
      alt="booking icon"
    />

    <span class="text-center span">Book A Table</span>
  </a>
</section>
