<section class="section menu" aria-label="menu-label" id="menu">
  <div class="container">
    <p class="section__subtitle text-center label-2">Special Selection</p>
    <h2 class="headline-1 section__title menu__title text-center">Our Menu</h2>

    <ul class="menu__list grid-list">
      <li class="menu__item">
        <article class="menu__card">
          <figure
            class="menu__banner img-holder"
            style="--width: 100; --height: 100"
          >
            <img
              src="./images/menu-1.jpg"
              alt="Greek Salad"
              width="100"
              height="100"
              loading="lazy"
              class="img-cover"
            />
          </figure>

          <div>
            <div class="menu__card-head">
              <h3 class="title-3">
                <a href="#" class="menu__card-title">Grilled Ribeye Steak</a>
              </h3>

              <span class="menu__card-badge lable-1">New</span>
              <span class="menu__card-subtitle span title-2">$25.50</span>
            </div>

            <p class="menu__card-text label-1">
              Ribeye steak, olive oil, salt, pepper, garlic, rosemary, BBQ sauce
            </p>
          </div>
        </article>
      </li>
      <li class="menu__item">
        <article class="menu__card">
          <figure
            class="menu__banner img-holder"
            style="--width: 100; --height: 100"
          >
            <img
              src="./images/menu-2.jpg"
              alt="Greek Salad"
              width="100"
              height="100"
              loading="lazy"
              class="img-cover"
            />
          </figure>

          <div>
            <div class="menu__card-head">
              <h3 class="title-3">
                <a href="#" class="menu__card-title">Spaghetti Bolognese</a>
              </h3>

              <span class="menu__card-subtitle span title-2">$20.50</span>
            </div>

            <p class="menu__card-text label-1">
              Spaghetti, ground meat, tomatoes, olive oil, garlic, spices,
              grated Parmesan cheese
            </p>
          </div>
        </article>
      </li>
      <li class="menu__item">
        <article class="menu__card">
          <figure
            class="menu__banner img-holder"
            style="--width: 100; --height: 100"
          >
            <img
              src="./images/menu-3.jpg"
              alt="Greek Salad"
              width="100"
              height="100"
              loading="lazy"
              class="img-cover"
            />
          </figure>

          <div>
            <div class="menu__card-head">
              <h3 class="title-3">
                <a href="#" class="menu__card-title">Beef Stroganoff</a>
              </h3>

              <span class="menu__card-subtitle span title-2">$29.50</span>
            </div>

            <p class="menu__card-text label-1">
              Beef tenderloin, onions, mushrooms, garlic, beef broth, sour
              cream, Dijon mustard, olive oil, salt, pepper, fresh parsley
            </p>
          </div>
        </article>
      </li>
      <li class="menu__item">
        <article class="menu__card">
          <figure
            class="menu__banner img-holder"
            style="--width: 100; --height: 100"
          >
            <img
              src="./images/menu-4.jpg"
              alt="Greek Salad"
              width="100"
              height="100"
              loading="lazy"
              class="img-cover"
            />
          </figure>

          <div>
            <div class="menu__card-head">
              <h3 class="title-3">
                <a href="#" class="menu__card-title">Penne Arrabbiata</a>
              </h3>

              <span class="menu__card-subtitle span title-2">$21.50</span>
            </div>

            <p class="menu__card-text label-1">
              Penne, tomatoes, olive oil, garlic, chili, basil, grated Parmesan
              cheese
            </p>
          </div>
        </article>
      </li>
      <li class="menu__item">
        <article class="menu__card">
          <figure
            class="menu__banner img-holder"
            style="--width: 100; --height: 100"
          >
            <img
              src="./images/menu-5.jpg"
              alt="Greek Salad"
              width="100"
              height="100"
              loading="lazy"
              class="img-cover"
            />
          </figure>

          <div>
            <div class="menu__card-head">
              <h3 class="title-3">
                <a href="#" class="menu__card-title">Shrimp Spaghetti</a>
              </h3>

              <span class="menu__card-subtitle span title-2">$25.50</span>
            </div>

            <p class="menu__card-text label-1">
              Spaghetti, shrimp, garlic, olive oil, cherry tomatoes, white wine,
              lemon juice, fresh parsley, salt and pepper
            </p>
          </div>
        </article>
      </li>
      <li class="menu__item">
        <article class="menu__card">
          <figure
            class="menu__banner img-holder"
            style="--width: 100; --height: 100"
          >
            <img
              src="./images/menu-6.jpg"
              alt="Greek Salad"
              width="100"
              height="100"
              loading="lazy"
              class="img-cover"
            />
          </figure>

          <div>
            <div class="menu__card-head">
              <h3 class="title-3">
                <a href="#" class="menu__card-title">Strawberry Cheesecake</a>
              </h3>

              <span class="menu__card-badge lable-1">Seasonal</span>
              <span class="menu__card-subtitle span title-2">$22.50</span>
            </div>

            <p class="menu__card-text label-1">
              Fresh strawberries, cream cheese, whipped cream, sugar, vanilla
              extract, graham cracker crust, lemon juice, mint
            </p>
          </div>
        </article>
      </li>
    </ul>

    <p class="menu__text text-center">
      During winter daily from
      <span class="menu__text--highlight span">7:00 pm</span> to
      <span class="menu__text--highlight span">9:00 pm</span>
    </p>

    <a href="#" class="menu__btn btn">
      <span class="btn__forward">View Our Menu</span>
      <span class="btn__behind" aria-hidden="true">View Our Menu</span>
    </a>

    <img
      src="./images/shape-5.png"
      alt="shape"
      class="menu__shape menu__shape--top shape move-anim"
      width="921"
      height="1036"
      loading="lazy"
    />
    <img
      src="./images/shape-6.png"
      alt="shape"
      class="menu__shape menu__shape--bottom shape move-anim"
      width="343"
      height="346"
      loading="lazy"
    />
  </div>
</section>
