<section class="section service bg-black-10 text-center" aria-label="service">
  <div class="service__container container">
    <p class="section__subtitle label-2">Flavors for Royalty</p>

    <h2 class="headline-1 service__title section__title">We Offer Top Notch</h2>
    <p class="service__text section__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
      voluptatibus quos soluta nam ipsam tempora nihil magni, commodi facere,
      dicta vel distinctio maxime? Nisi officia veniam dolore consequuntur
      perspiciatis qui?
    </p>

    <ul class="service__list grid-list">
      <li class="service__item">
        <article class="service__card">
          <div class="service__card-head">
            <figure
              class="service__banner img-holder hover-shine"
              style="--width: 285; --height: 336"
            >
              <img
                src="./images/service-1.jpg"
                alt="Breakfast"
                width="285"
                height="336"
                loading="lazy"
                class="img-cover"
              />
            </figure>
          </div>
          <div class="service__card-content">
            <h3 class="title-4 service__card-title">
              <a href="#">Breakfast</a>
            </h3>

            <a href="#" class="service__card-link hover-underline label-2"
              >View Menu</a
            >
          </div>
        </article>
      </li>
      <li class="service__item">
        <article class="service__card">
          <div class="service__card-head">
            <figure
              class="service__banner img-holder hover-shine"
              style="--width: 285; --height: 336"
            >
              <img
                src="./images/service-2.jpg"
                alt="Appetizers"
                width="285"
                height="336"
                loading="lazy"
                class="img-cover"
              />
            </figure>
          </div>

          <div class="service__card-content">
            <h3 class="title-4 service__card-title">
              <a href="#">Appetizers</a>
            </h3>

            <a href="#" class="service__card-link hover-underline label-2"
              >View Menu</a
            >
          </div>
        </article>
      </li>
      <li class="service__item">
        <article class="service__card">
          <div class="service__card-head">
            <figure
              class="service__banner img-holder hover-shine"
              style="--width: 285; --height: 336"
            >
              <img
                src="./images/service-3.jpg"
                alt="Drinks"
                width="285"
                height="336"
                loading="lazy"
                class="img-cover"
              />
            </figure>
          </div>

          <div class="service__card-content">
            <h3 class="title-4 service__card-title">
              <a href="#">Drinks</a>
            </h3>

            <a href="#" class="service__card-link hover-underline label-2"
              >View Menu</a
            >
          </div>
        </article>
      </li>
    </ul>

    <img
      src="./images/shape-1.png"
      alt="shape"
      class="service__shape service__shape--bottom shape shape__1 move-anim"
      width="246"
      height="412"
      loading="lazy"
    />
    <img
      src="./images/shape-2.png"
      alt="shape"
      class="service__shape service__shape--up shape shape__2 move-anim"
      width="343"
      height="345"
      loading="lazy"
    />
  </div>
</section>
