<section class="special text-center" aria-label="special-label">
  <div class="special__banner">
    <img
      src="./images/special-dish-banner.jpg"
      alt="Special Offer"
      class="img-cover"
      width="940"
      height="900"
    />

    <img
      srcset="
        ./images/special-dish-banner-320.jpg   320w,
        ./images/special-dish-banner-496.jpg   496w,
        ./images/special-dish-banner-591.jpg   591w,
        ./images/special-dish-banner-767.jpg   767w,
        ./images/special-dish-banner-1182.jpg 1182w,
        ./images/special-dish-banner-1280.jpg 1280w,
        ./images/special-dish-banner-1534.jpg 1534w,
        ./images/special-dish-banner-2560.jpg 2560w
      "
      sizes="(max-width: 767px) 100vw, (min-width: 768px) 50vw"
      src="./images/special-dish-banner-320.jpg"
      alt="Special Offer"
      class="img-cover"
      width="940"
      height="900"
    />
  </div>

  <div class="special__content bg-black-10">
    <div class="container">
      <img
        src="./images/badge-1.png"
        alt="badge"
        class="abs-img"
        width="28"
        height="28"
      />
    </div>

    <p class="special__subtitle section__subtitle label-2">Special Offer</p>
    <h2 class="headline-1 section__title">Lobster Tortellini</h2>

    <p class="special__text section__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, deserunt
      soluta explicabo, debitis ad obcaecati enim quis illum aspernatur vel ex
      ab consectetur eveniet, commodi ipsa molestias! Iste voluptatibus fugit,
      ipsum quod reiciendis necessitatibus corporis!
    </p>

    <div class="special__pricing wrapper">
      <del class="special__original-price del body-3">$45.00</del>
      <span class="special__discount-price span body-1">$25.00</span>
    </div>

    <a href="#" class="special__btn btn btn--dark">
      <span class="btn__forward">View All Menu</span>
      <span class="btn__behind" aria-hidden="true">View All Menu</span>
    </a>
  </div>

  <img
    src="./images/shape-4.png"
    alt="shape"
    class="special__shape shape special__shape--up"
    width="179"
    height="359"
    loading="lazy"
  />
  <img
    src="./images/shape-9.png"
    alt="shape"
    class="special__shape shape special__shape--bottom"
    width="351"
    height="462"
    loading="lazy"
  />
</section>
