<div class="topbar">
  <div class="topbar__container container">
    <div class="topbar__column">
      <address class="topbar__item">
        <svg width="24" height="24" class="topbar__icon" aria-hidden="true">
          <use
            xlink:href="./images/sprite.svg#location-outline"
            href="./images/sprite.svg#location-outline"
          ></use>
        </svg>
        <span class="topbar__info">
          Velyka Vasylkivska St, 19, Kyiv 02000, UA
        </span>
      </address>

      <div class="separator"></div>

      <div class="topbar__item">
        <svg width="24" height="24" class="topbar__icon" aria-hidden="true">
          <use
            xlink:href="./images/sprite.svg#time-outline"
            href="./images/sprite.svg#time-outline"
          ></use>
        </svg>
        <span class="topbar__info"> Daily : 8.00 am to 10.00 pm </span>
      </div>
    </div>

    <div class="topbar__column">
      <a href="tel:+11234567890" class="topbar__item link">
        <svg width="24" height="24" class="topbar__icon">
          <use
            xlink:href="./images/sprite.svg#call-outline"
            href="./images/sprite.svg#call-outline"
          ></use>
        </svg>

        <span class="topbar__info"> +1 123 456 7890 </span>
      </a>

      <div class="separator"></div>

      <a href="mailto:booking@ravinion.com" class="topbar__item link">
        <svg width="24" height="24" class="topbar__icon">
          <use
            xlink:href="./images/sprite.svg#mail-outline"
            href="./images/sprite.svg#mail-outline"
          ></use>
        </svg>

        <span class="topbar__info">booking@ravinion.com</span>
      </a>
    </div>
  </div>
</div>
