@use '../utils/' as u;

.booking {
  &__text {
    margin-block-end: 4rem;
  }

  &__link {
    display: inline;
    color: var(--c-bright-red);
  }

  &__form-wrapper {
    margin-block-start: -27rem;

    @include u.breakpoints(large) {
      display: grid;
      grid-template-columns: 1fr 0.5fr;
    }

    & > * {
      padding: 4rem 2rem 3rem;
    }
  }

  &__input-wrapper {
    @include u.breakpoints(small) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;

      &:nth-child(4) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  &__left {
  }

  &__right {
    background-position: top left;
    background-size: cover;

    & .headline-1 {
      margin-block-end: 4rem;
    }
    & .contact-label {
      margin-block-end: 0.5rem;
    }
    & .separator {
      margin: 2rem auto;
    }
    & .body-4 {
      color: var(--quick-silver);
      line-height: var(--lineHeight-3);

      &:not(:last-child) {
        margin-block-end: 2.5rem;
      }
    }
  }

  &__form {
    textarea {
      resize: none;
      height: 14rem;
      padding-block: 2rem;
      line-height: var(--lineHeight-1);
    }

    .btn {
      max-width: 100%;
      width: 100%;
    }
  }
}
