@use '../utils/' as u;

.chef-intro {
  padding-block-end: 34rem;
  position: static;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../images/chef-bg-mobile.jpg');

  @include u.retina {
    background-image: url('../images/chef-bg-mobile@2x.jpg');
  }

  @include u.breakpoints(medium) {
    background-image: url('../images/chef-bg-tablet.jpg');

    @include u.retina {
      background-image: url('../images/chef-bg-tablet@2x.jpg');
    }
  }

  @include u.breakpoints(xlarge) {
    background-image: url('../images/chef-bg-laptop.jpg');

    @include u.retina {
      background-image: url('../images/chef-bg-laptop@2x.jpg');
    }
  }

  @include u.breakpoints(xxlarge) {
    background-image: url('../images/chef-bg-desktop.jpg');

    @include u.retina {
      background-image: url('../images/chef-bg-desktop@2x.jpg');
    }
  }

  &__text {
    font-size: var(--fontSize-body-3);
    @include u.breakpoints(large) {
      max-width: 91rem;
      margin-inline: auto;
    }
  }

  &__decoration-quote {
    font-size: 10rem;
    font-family: serif;
  }

  &__separators-wrapper {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-block: 4rem 5rem;
  }

  &__profile {
    &-img {
      width: unset;
      margin-inline: auto;
      border-radius: var(--radius-circle);
      margin-block-end: 1.5rem;
    }

    &-name {
      font-weight: var(--weight-bold);
    }
  }
}
